@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

* {
  background-origin: padding-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body {
  background-image: url("img/birthDay.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: gold;
}

.img.profile-picture {
  margin-top: 20px;
  max-width: 20%;
  height: auto;
  width: 20%;
  float: center;
  align-items: center;
  justify-content: center;
}

img.profile-picture img.bg-color {
  background: transparent;
  border-radius: 50%;
  display: none;
}

.b-name {
  color: beige;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: -10px;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 3rem;
}

.countdown-element {
  text-align: center;
}

.countdown-element {
  font-size: 1rem;
  box-sizing: border-box;
}

.powered-by {
  color: white;
  /* border: 1px solid goldenrod; */
  box-sizing: border-box;
  backdrop-filter: 20px;
  width: auto;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.powered-by span {
  font-size: medium;
  font-weight: bold;
}
