@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

* {
  background-origin: padding-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body {
  background-image: url("img/birthDay.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: gold;
}

.img.profile-picture {
  margin-top: 20px;
  max-width: 20%;
  height: auto;
  width: 20%;
  float: center;
  align-items: center;
  justify-content: center;
}

img.profile-picture img.bg-color {
  background: transparent;
  border-radius: 50%;
  display: none;
}

.b-name {
  color: beige;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: -10px;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 3rem;
}

.countdown-element {
  text-align: center;
}

.countdown-element {
  font-size: 1rem;
  box-sizing: border-box;
}

.powered-by {
  color: white;
  /* border: 1px solid goldenrod; */
  box-sizing: border-box;
  backdrop-filter: 20px;
  width: auto;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.powered-by span {
  font-size: medium;
  font-weight: bold;
}

/* sliding theme effect */
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
